@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(imagenes/fondo.jpg) ;
    background-size: 33%;
    background-repeat: round;
}

img.titulo{
    height: 250px;
    display: block;
    margin: 0 auto;
    padding: 10px 0 0;
}

div.contenedor{
    margin: 20px auto;
    text-align: center;
}

div.fila{
    width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}

.card{
    width: 300px;
    height: 500px;
    border-radius: 25px;
    box-shadow: 5px 5px 25px #181463;
    display: inline-block;
    margin: 0 15px;
    background-color: cornsilk;
}

img.imagen{
    padding: 10px 0px 0px 0px;
    filter: drop-shadow(0px 0px 10px #000);
    border-radius: 25px 25px 0px 0px;
    margin: 0 auto;
    height: 45%;
    
}

.separacion{
    height: 3px;
    background-color: #000;
    border-color: #000;
    margin-bottom: 10px;
}

div.información{
    padding: 10px;
}

h1.titulo{
    color: #2955DC;
    font-size: 30px;
    text-align: left;
    text-shadow: 1.2px 1.2px 0 #181463,
                 -1.2px 1.2px 0 #181463,
                 -1.2px -1.2px 0 #181463,
                 1.2px -1.2px 0 #181463; 
    /* text-shadow: 3px 3px 0 #181463; */
}

p.descripcion{
    padding: 10px 0 10px;
    text-align: left;
    font-size: 20px;
}

div.información > a.boton{
    text-decoration: none;
    background-color: #f75700;
    padding: 10px 20px;
    color: #000;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    border-radius: 30px;
    margin-left: 45%;
    filter: drop-shadow(0px 3px 3px #000);
}

